.registrature_container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: bisque;
}
.registrature_title {
    margin-bottom: 65px;
    font-size: 40px;
}
.label_container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 26px;
    margin-bottom: 16px;
}
.registrature_label {
    font-size: 26px;
    margin-bottom: 16px;
}
.registrature_input {
    border: 6px sold;border: 6px solid rgb(16, 3, 28);
    border-radius: 6px;
    font-size: 22px;
}
.registrature_button {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 26px;
    padding: 16px 36px;
    border-radius: 8px;
    border: 6px solid rgb(16, 3, 28);
    opacity: .5;
    background-color: blueviolet;
    
}
.home_container {
    background-color: bisque;
    border-bottom: 5px solid;
    height: 100px;
    
}
.home {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-top: 45px;
    padding-left: 40px;
}
.home_back {
    text-decoration: none;
    color: black;
}
.nav_right {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    height: 100px;
    padding-right: 40px;
    margin-top: -12px;
}
.fight {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 26px;
    border-radius: 8px;
    border: 6px solid rgb(16, 3, 28);
    opacity: .5;
    background-color: blueviolet;
}
.main_container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 200px;
    background-color: bisque;
    height: 300px;
}
.character_back {
    text-decoration: none;
    color: black;

}
.nav_character {
    height: 100px;
    background-color: bisque;
    border-bottom: 5px solid;
    height: 100px;
}
.character {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-top: 45px;
    padding-left: 40px;
}
.main_character {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 6px solid rgb(16, 3, 28);
    border-radius: 15px;
    height: 350px;
    width: 300px;
    padding-top: 20px;
    margin-top: 20px;
    padding-bottom: 50px;
    margin-bottom: 20px;
    flex-direction: column;
}
    
.simka {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    margin-top: 20px;
}
.main_character_container {
    background-color: bisque;
}
.score {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    display: grid;
    margin-top: -440px;
    padding-bottom: 350px;
    color: rgb(143, 52, 229);
    cursor: pointer;
    padding-left: 50px;
    margin-left: -270px;
}



